



@-webkit-keyframes head {
	0% {
		top: 0px;
	}

	50% {
		top: 6px;
	}

	100% {
		top: 0px;
	}
}

@-webkit-keyframes body {
	0% {
		top: 220px;
	}

	50% {
		top: 223px;
	}

	100% {
		top: 220px;
	}
}

@-webkit-keyframes leg {
	0% {
		top: 300px;
	}

	50% {
		top: 300px;
	}

	100% {
		top: 300px;
	}
}

@keyframes head {
	0% {
		top: 0px;
	}

	50% {
		top: 6px;
	}

	100% {
		top: 0px;
	}
}

@keyframes body {
	0% {
		top: 220px;
	}

	50% {
		top: 223px;
	}

	100% {
		top: 220px;
	}
}

@keyframes leg {
	0% {
		top: 300px;
	}

	50% {
		top: 300px;
	}

	100% {
		top: 300px;
	}
}

#michael {
	margin-top: -204px;
	background: #fff;
	position: relative;
	-ms-transform: scale(0.4);
	/* IE 9 */
	-webkit-transform: scale(0.5);
	/* Chrome, Safari, Opera */
	transform: scale(0.4);
	left: -327px;
}

.shadow {
	position: absolute;
	top: 450px;
	left: 50%;
	width: 10px;
	height: 10px;
	background: #402436;
	box-shadow: -120px -10px #402436, -110px -10px #402436, -100px -10px #402436, -90px -10px #402436, -80px -10px #402436, -70px -10px #402436, -60px -10px #402436, -50px -10px #402436, -40px -10px #402436, -30px -10px #402436, -20px -10px #402436, -10px -10px #402436, 0px -10px #402436, 10px -10px #402436, 20px -10px#402436, 30px -10px #402436, 40px -10px #402436, 50px -10px #402436, 60px -10px #402436, -130px 0px #402436, -120px 0px #402436, -110px 0px#402436, -100px 0px #402436, -90px 0px #402436, -80px 0px #402436, -70px 0px #402436, -60px 0px #402436, -50px 0px #402436, -40px 0px #402436, -30px 0px #402436, -20px 0px #402436, -10px 0px #402436, 0px 0px #402436, 10px 0px #402436, 20px 0px #402436, 30px 0px #402436, 40px 0px #402436, 50px 0px #402436, 60px 0px #402436, -130px 10px #402436, -120px 10px #402436, -110px 10px #402436, -100px 10px #402436, -90px 10px #402436, -80px 10px #402436, -70px 10px #402436, -60px 10px #402436, -50px 10px #402436, -40px 10px #402436, -30px 10px #402436, -20px 10px #402436, -10px 10px #402436, 0px 10px #402436, 10px 10px #402436, 20px 10px #402436, 30px 10px #402436, 40px 10px #402436, 50px 10px #402436, 60px 10px #402436, -130px 20px #402436, -120px 20px #402436, -110px 20px #402436, -100px 20px #402436, -90px 20px #402436, -80px 20px #402436, -70px 20px #402436, -60px 20px #402436, -50px 20px #402436, -40px 20px #402436, -30px 20px #402436, -10px 20px #402436, 0px 20px #402436, 10px 20px #402436, 20px 20px#402436, 30px 20px #402436, 40px 20px #402436, 50px 20px #402436, 60px 20px #402436, 70px 20px #402436, -120px 30px #402436, -110px 30px #402436, -100px 30px #402436, -90px 30px #402436, -80px 30px #402436, -70px 30px #402436, -60px 30px #402436, -50px 30px #402436, -10px 0px transparent;
	/* line 1 */
	/* line 2 */
	/* line 3 */
	/* line 4 */
	/* line 5 */
}

.leg {
	-webkit-animation: leg 1s infinite;
	-webkit-animation-timing-function: linear;
	animation: leg 1s infinite;
	animation-timing-function: linear;
	position: absolute;
	z-index: 20;
	top: 300px;
	left: 50%;
	width: 10px;
	height: 10px;
	background: #000;
	box-shadow: -50px 0px #000, -40px 0px #a90000, -30px 0px #a90000, -20px 0px #a90000, -10px 0px #a90000, 10px 0px #a90000, 20px 0px #a90000, 30px 0px #000, -50px 10px #000, -40px 10px #a90000, -30px 10px #a90000, -20px 10px #a90000, -10px 10px #a90000, 0px 10px #a90000, 10px 10px #a90000, 20px 10px #a90000, 30px 10px #000, -50px 20px #000, -40px 20px #000, -30px 20px #000, -20px 20px #000, -10px 20px #000, 0px 20px #000, 10px 20px #000, 20px 20px #000, 30px 20px #000, 40px 20px #000, -70px 30px #000, -60px 30px #000, -50px 30px #3d1e00, -40px 30px #0080ff, -30px 30px #0080ff, -20px 30px #0080ff, -10px 30px #0080ff, 0px 30px #001e3d, 10px 30px #05a, 20px 30px #0080ff, 30px 30px #0080ff, 40px 30px #000, -70px 40px #000, -60px 40px #000, -50px 40px #0080ff, -40px 40px #0080ff, -30px 40px #0080ff, -20px 40px #0080ff, -10px 40px #0080ff, 0px 40px #0080ff, 10px 40px #0080ff, 20px 40px #0080ff, 30px 40px #0080ff, 40px 40px #000, -80px 50px #000, -70px 50px #000, -60px 50px #000, -50px 50px #0080ff, -40px 50px #0080ff, -30px 50px #0080ff, -20px 50px #0080ff, -10px 50px #0080ff, 0px 50px #001e3d, 10px 50px #0080ff, 20px 50px #0080ff, 30px 50px #0080ff, 40px 50px #000, 50px 50px #000, -80px 60px #000, -70px 60px #0080ff, -60px 60px #0080ff, -50px 60px #0080ff, -40px 60px #0080ff, -30px 60px #0080ff, -20px 60px #0080ff, -10px 60px #05a, 0px 60px #001e3d, 10px 60px #0080ff, 20px 60px #0080ff, 30px 60px #0080ff, 40px 60px #0080ff, 50px 60px #000, -80px 70px #000, -70px 70px #0080ff, -60px 70px #0080ff, -50px 70px #0080ff, -40px 70px #0080ff, -30px 70px #0080ff, -20px 70px #000, -10px 70px #001e3d, 0px 70px #001e3d, 10px 70px #0080ff, 20px 70px #0080ff, 30px 70px #0080ff, 40px 70px #0080ff, 50px 70px #000, -80px 80px #000, -70px 80px #0080ff, -60px 80px #0080ff, -50px 80px #0080ff, -40px 80px #0080ff, -30px 80px #0080ff, -20px 80px #000, -10px 80px #000, 0px 80px #0080ff, 10px 80px #000, 20px 80px #0080ff, 30px 80px #0080ff, 40px 80px #0080ff, 50px 80px #000, -90px 90px #000, -80px 90px #0080ff, -70px 90px #0080ff, -60px 90px #0080ff, -50px 90px #0080ff, -40px 90px #0080ff, -30px 90px #000, -20px 90px #000, -10px 90px #000, 0px 90px #0080ff, 10px 90px #0080ff, 20px 90px #0080ff, 30px 90px #0080ff, 40px 90px #0080ff, 50px 90px #000, -90px 100px #000, -80px 100px #0080ff, -70px 100px #0080ff, -60px 100px #0080ff, -50px 100px #0080ff, -40px 100px #3d1e00, -30px 100px #000, -10px 100px #000, 0px 100px #000, 10px 100px #0080ff, 20px 100px #0080ff, 30px 100px #0080ff, 40px 100px #0080ff, 50px 100px #000, -100px 110px #000, -90px 110px #000, -80px 110px #000, -70px 110px #0080ff, -60px 110px #0080ff, -50px 110px #0080ff, -40px 110px #000, -10px 110px #000, 0px 110px #000, 10px 110px #0080ff, 20px 110px #0080ff, 30px 110px #0080ff, 40px 110px #000, -100px 120px #000, -90px 120px #001e3d, -80px 120px #0080ff, -70px 120px #0080ff, -60px 120px #0080ff, -50px 120px #000, -40px 120px #000, -10px 120px #000, 0px 120px #001e3d, 10px 120px #0080ff, 20px 120px #0080ff, 30px 120px #0080ff, 40px 120px #000, -100px 130px #000, -90px 130px #05a, -80px 130px #0080ff, -70px 130px #0080ff, -60px 130px #05a, -50px 130px #000, -10px 130px #000, 0px 130px #000, 10px 130px #0080ff, 20px 130px #0080ff, 30px 130px #0080ff, 40px 130px #000, -110px 140px #000, -100px 140px #000, -90px 140px #000, -80px 140px #000, -70px 140px #001e3d, -60px 140px #001e3d, -50px 140px #000, -10px 140px #000, 0px 140px #000, 10px 140px #000, 20px 140px #000, 30px 140px #000, 40px 140px #000, 50px 140px #000, -110px 150px #000, -100px 150px #000, -90px 150px #000, -80px 150px #000, -70px 150px #000, -60px 150px #000, 0px 150px #000, 10px 150px #000, 20px 150px #000, 30px 150px #000, 40px 150px #000, 50px 150px #000, 60px 150px #000, -110px 160px #000, -100px 160px #000, -90px 160px #000, -80px 160px #000, -70px 160px #000, -60px 160px #000, 0px 160px #000, 10px 160px #000, 20px 160px #000, 30px 160px #000, 40px 160px #000, 50px 160px #000, 60px 160px #000, -110px 170px #000, -100px 170px #000, -90px 170px #000, -80px 170px #000, -70px 170px #000, -60px 170px #000;
	/* line 1 */
	/* line 2 */
	/* line 2 */
	/* line 3 */
	/* line 4 */
	/* line 5 */
	/* line 6 */
	/* line 7 */
	/* line 8 */
	/* line 9 */
	/* line 10 */
	/* line 11 */
	/* line 12 */
	/* line 13 */
	/* line 14 */
	/* line 15 */
	/* line 16 */
	/* line 17 */
}

.body {
	-webkit-animation: body 1s infinite;
	-webkit-animation-timing-function: linear;
	animation: body 1s infinite;
	animation-timing-function: linear;
	position: absolute;
	top: 220px;
	left: 50%;
	width: 10px;
	height: 10px;
	background: transparent;
	box-shadow: -90px 0px #000, -80px 0px #3d1e00, -70px 0px #3d1e00, -60px 0px #a90000, -50px 0px #a90000, 40px 0px #000, -100px 10px #000, -90px 10px #a90000, -80px 10px #a90000, -70px 10px #a90000, -60px 10px #a90000, -50px 10px #a90000, -40px 10px #a90000, 30px 10px #a90000, 40px 10px #000, -100px 20px #000, -90px 20px #a90000, -80px 20px #a90000, -70px 20px #a90000, -60px 20px #a90000, -50px 20px #a90000, -40px 20px #a90000, -30px 20px #000, -20px 20px #c66b49, -10px 20px #ffbb80, 0px 20px #c66b49, 10px 20px #ffbb80, 20px 20px #000, 30px 20px #a90000, 40px 20px #000, -110px 30px #000, -100px 30px #a90000, -90px 30px #a90000, -80px 30px #a90000, -70px 30px #a90000, -60px 30px #a90000, -50px 30px #a90000, -40px 30px #a90000, -30px 30px #a90000, -20px 30px #a90000, -10px 30px #a90000, 0px 30px #a90000, 10px 30px #a90000, 20px 30px #000, 30px 30px #a90000, 40px 30px #000, -110px 40px #000, -100px 40px #a90000, -90px 40px #a90000, -80px 40px #a90000, -70px 40px #a90000, -60px 40px #000, -50px 40px #000, -40px 40px #a90000, -30px 40px #a90000, -20px 40px #a90000, -10px 40px #a90000, 0px 40px #000, 10px 40px #a90000, 20px 40px #000, 30px 40px #a90000, 40px 40px #000, -110px 50px #000, -100px 50px #a90000, -90px 50px #a90000, -80px 50px #a90000, -70px 50px #000, -60px 50px #000, -50px 50px #3d1e00, -40px 50px #a90000, -30px 50px #a90000, -20px 50px #a90000, -10px 50px #a90000, 0px 50px #a90000, 10px 50px #a90000, 20px 50px #000, 30px 50px #a90000, 40px 50px #000, 50px 50px #000, -120px 60px #000, -110px 60px #a90000, -100px 60px #a90000, -90px 60px #a90000, -80px 60px #3d1e00, -70px 60px #000, -60px 60px #000, -50px 60px #a90000, -40px 60px #a90000, -30px 60px #a90000, -20px 60px #a90000, -10px 60px #a90000, 0px 60px #000, 10px 60px #a90000, 20px 60px #000, 30px 60px #000, 40px 60px #a90000, 50px 60px #000, -120px 70px #000, -110px 70px #a90000, -100px 70px #a90000, -90px 70px #a90000, -80px 70px #a90000, -70px 70px, -60px 70px, -50px 70px #000, -40px 70px #a90000, -30px 70px #a90000, -20px 70px #a90000, -10px 70px #a90000, 0px 70px #a90000, 10px 70px #a90000, 20px 70px #a90000, 30px 70px #000, 40px 70px #a90000, 50px 70px #000, -120px 80px #000, -110px 80px #a90000, -100px 80px #a90000, -90px 80px #a90000, -80px 80px #a90000, 40px 80px #a90000, 50px 80px #000, -120px 90px #000, -110px 90px #a90000, -100px 90px #a90000, -90px 90px #a90000, 40px 90px #a90000, 50px 90px #a90000, 60px 90px #000, -130px 100px #000, -120px 100px #c66b49, -110px 100px #c66b49, -100px 100px #ffbb80, -90px 100px #c66b49, -80px 100px #3d1e00, 50px 100px #ffbb80, 60px 100px #000, -130px 110px #000, -120px 110px #c66b49, -110px 110px #ffbb80, -100px 110px #ffbb80, -90px 110px #ffbb80, -80px 110px #ffbb80, 50px 110px #ffbb80, 60px 110px #000, -130px 120px #000, -120px 120px #c66b49, -110px 120px #ffbb80, -100px 120px #ffbb80, -90px 120px #000, -80px 120px #c66b49, 50px 120px #c66b49, 60px 120px #000, -130px 130px #000, -120px 130px #c66b49, -110px 130px #000, -100px 130px #ffbb80, -90px 130px #000, -120px 140px #000, -110px 140px #000, -100px 140px #c66b49, -90px 140px #000, -100px 150px #000, -90px 150px #c66b49, -90px 160px #000;
	/* line 1 */
	/* line 2 */
	/* line 2 */
	/* line 3 */
	/* line 4 */
	/* line 5 */
	/* line 6 */
	/* line 7 */
	/* line 8 */
	/* line 9 */
	/* line 10 */
	/* line 11 */
	/* line 12 */
	/* line 13 */
	/* line 14 */
	/* line 15 */
	/* line 16 */
}

.head {
	-webkit-animation: head 1s infinite;
	-webkit-animation-timing-function: linear;
	animation: head 1s infinite;
	animation-timing-function: linear;
	position: absolute;
	z-index: 999;
	top: 0px;
	left: 50%;
	width: 10px;
	height: 10px;
	box-shadow: -40px 110px #000, -30px 110px #000, -20px 110px #000, -10px 110px #000, 0px 110px #000, 10px 110px #000, 20px 110px #000, -50px 120px #000, -40px 120px #c66b49, -30px 120px #c66b49, -20px 120px #c66b49, -10px 120px #c66b49, 0px 120px #c66b49, 10px 120px #c66b49, 20px 120px #c66b49, 30px 120px #000, -60px 130px #000, -50px 130px #c66b49, -40px 130px #c66b49, -30px 130px #c66b49, -20px 130px #c66b49, -10px 130px #c66b49, 0px 130px #c66b49, 10px 130px #c66b49, 20px 130px #c66b49, 30px 130px #c66b49, 40px 130px #000, -60px 140px #000, -50px 140px #c66b49, -40px 140px #c66b49, -30px 140px #c66b49, -20px 140px #c66b49, -10px 140px #c66b49, 0px 140px #c66b49, 10px 140px #c66b49, 20px 140px #c66b49, 30px 140px #c66b49, 40px 140px #000, -60px 150px #000, -50px 150px #c66b49, -40px 150px #c66b49, -30px 150px #c66b49, -20px 150px #c66b49, -10px 150px #c66b49, 0px 150px #c66b49, 10px 150px #c66b49, 20px 150px #c66b49, 30px 150px #c66b49, 40px 150px #000, -80px 160px #000, -70px 160px #000, -60px 160px #000, -50px 160px #c66b49, -40px 160px #c66b49, -30px 160px #c66b49, -20px 160px #c66b49, -10px 160px #c66b49, 0px 160px #c66b49, 10px 160px #ffbb80, 20px 160px #ffbb80, 30px 160px #c66b49, 40px 160px #000, -80px 170px #000, -70px 170px #ffbb80, -60px 170px #000, -50px 170px #000, -40px 170px #000, -30px 170px #000, -20px 170px #000, -10px 170px #000, 0px 170px #ffbb80, 10px 170px #ffbb80, 20px 170px #ffbb80, 30px 170px #ffbb80, 40px 170px #c66b49, 50px 170px #000, -80px 180px #000, -70px 180px #ffbb80, -60px 180px #000, -50px 180px #47261a, -40px 180px #000, -30px 180px #bbb, -20px 180px #bbb, -10px 180px #000, 0px 180px #000, 10px 180px #ffbb80, 20px 180px #ffbb80, 30px 180px #000, 40px 180px #000, 50px 180px #000, -80px 190px #000, -70px 190px #c66b49, -60px 190px #000, -50px 190px #47261a, -40px 190px #c66b49, -30px 190px #bbb, -20px 190px #fff, -10px 190px #555, 0px 190px #c66b49, 10px 190px #ffbb80, 20px 190px #ffbb80, 30px 190px #c66b49, 40px 190px #000, -80px 200px #000, -70px 200px #000, -60px 200px #000, -50px 200px #47261a, -40px 200px #c66b49, -30px 200px #c66b49, -20px 200px #ffbb80, -10px 200px #ffbb80, 0px 200px #ffbb80, 10px 200px #ffbb80, 20px 200px #ffbb80, 30px 200px #c66b49, 40px 200px #000, -90px 210px #000, -80px 210px #000, -70px 210px #000, -60px 210px #000, -50px 210px #000, -40px 210px #47261a, -30px 210px #c66b49, -20px 210px #ffbb80, -10px 210px #ffbb80, 0px 210px #ffbb80, 10px 210px #ffbb80, 20px 210px #c66b49, 30px 210px #000, -40px 220px #000, -30px 220px #000, -20px 220px #c66b49, -10px 220px #ffbb80, 0px 220px #ffbb80, 10px 220px #c66b49, 20px 220px #000, 30px 220px #000, -30px 230px #000, -20px 230px #000, -10px 230px #000, 0px 230px #000, 10px 230px #000, 20px 230px #000;
	/* line 1 */
	/* line 2 */
	/* line 3 */
	/* line 4 */
	/* line 6 */
	/* line 9 */
	/* line 10 */
	/* line 12 */
	/* line 13 */
	/* line 14 */
	/* line 15 */
	/* line 16 */
	/* line 17 */
	/* line 18 */
	/* line 19 */
	/* line 21 */
	/* line 21 */
	/* line 22 */
	/* line 23 */
	/* line 24 */
}

/*neon*/
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@font-face {
	font-family: moon;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

@font-face {
	font-family: clipneon;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf);
}

@font-face {
	font-family: lasenter;
	src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/lasenter.ttf);
}

@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

#container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.sign-two {
	-webkit-transform: matrix3d(0.77, 0, 0.64, .001, 0.00, 1, 0.00, 0, -0.64, 0, 0.77, 0, 0, 0, 0, 1);
	color: #A9FFDC;
	font-family: clipneon;
	font-size: 1.5vw;
	line-height: 1vw;
	text-shadow: 0vw 0vw 3vw #F40A35;
	transform: matrix3d(0.77, 0, 0.64, .001, 0.00, 1, 0.00, 0, -0.64, 0, 0.77, 0, 0, 0, 0, 1);
	text-shadow:
		-.1vw 0vw .25vw #A9FFDC, -.2vw 0vw .25vw #A9FFDC, -.4vw 0vw .25vw #A9FFDC,
		-.1vw 0vw .1vw #00CC2A, -.2vw 0vw .1vw #00CC2A, -.4vw 0vw .1vw #00CC2A,
		-.1vw 0vw .8vw #00CC2A, -.2vw 0vw .8vw #00CC2A, -.4vw 0vw .8vw #00CC2A, .2vw 0vw .5vw #00CC2A,
		-.1vw 0vw .5vw #00CC2A, -.2vw 0vw .5vw #00CC2A, -.4vw 0vw .5vw #00CC2A,
		-.1vw 0vw 10vw #16FA19, -.2vw 0vw 10vw #16FA19, -.4vw 0vw 10vw #16FA19;
	margin-left: 1154px;
	margin-top: -97px;
}

@keyframes heart {

	0%,
	100% {
		/* Enable hardware acceleration to fix laggy transitions */
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		color: #FBB4FF;
		text-shadow:
			-.1vw 0vw .25vw #FBB4FF, -.2vw 0vw .25vw #FBB4FF, -.4vw 0vw .25vw #FBB4FF,
			-.1vw 0vw 1vw #E82FF5, -.2vw 0vw .8vw #E82FF5, -.4vw 0vw .8vw #E82FF5, .2vw 0vw .5vw #E82FF5,
			-.1vw 0vw 10vw #CB16FA, -.2vw 0vw 10vw #CB16FA, -.4vw 0vw 10vw #CB16FA;
	}

	50% {
		/* Enable hardware acceleration to fix laggy transitions */
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		color: #8F5493;
		text-shadow:
			-.1vw 0vw .25vw #8F5493, -.2vw 0vw .25vw #8F5493, -.4vw 0vw .25vw #8F5493,
			-.1vw 0vw .8vw #59125E, -.2vw 0vw .8vw #59125E, -.4vw 0vw .8vw #59125E, .2vw 0vw .5vw #59125E,
			-.1vw 0vw 3vw #42114E, -.2vw 0vw 3vw #42114E, -.4vw 0vw 3vw #42114E;
	}
}
.heart-off {
	animation: heart .1s ease infinite;
	-moz-animation: heart .1s ease infinite;
	-webkit-animation: heart .1s ease infinite;
	-o-animation: heart .1s ease infinite;
}

.off {
	color: #4A7061;
	display: inline-block;
	text-shadow:
		-.1vw 0vw .25vw #4A7061, -.2vw 0vw .25vw #4A7061, -.4vw 0vw .25vw #4A7061,
		-.1vw 0vw .1vw #184D23, -.2vw 0vw .1vw #184D23, -.4vw 0vw .1vw #184D23,
		-.1vw 0vw .8vw #184D23, -.2vw 0vw .8vw #184D23, -.4vw 0vw .8vw #184D23, .2vw 0vw .5vw #184D23,
		-.1vw 0vw .5vw #184D23, -.2vw 0vw .5vw #184D23, -.4vw 0vw .5vw #184D23,
		-.1vw 0vw 2vw #184D23, -.2vw 0vw 2vw #184D23, -.4vw 0vw 2vw #184D23;
}

.fa-heart-o {
	color: #FBB4FF;
	text-shadow: -0.1vw 0vw 0.25vw #FBB4FF, -0.2vw 0vw 0.25vw #FBB4FF, -0.4vw 0vw 0.25vw #FBB4FF, -0.1vw 0vw 1vw #E82FF5, -0.2vw 0vw 0.8vw #E82FF5, -0.4vw 0vw 0.8vw #E82FF5, 0.2vw 0vw 0.5vw #E82FF5, -0.1vw 0vw 10vw #CB16FA, -0.2vw 0vw 10vw #CB16FA, -0.4vw 0vw 10vw #CB16FA;
}

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.jackpots {
	font-family: moon;
	font-size: 2.3vw;
	margin-top: -71px;
	margin-left: 66px;
}
.jackpots {
	animation: jackpots 1s 0s ease infinite;
	-moz-animation: jackpots 1s 0s ease infinite;
	/* Firefox */
	-webkit-animation: jackpots 1s 0s ease infinite;
	/* Safari and Chrome */
	-o-animation: jackpots 1s 0s ease infinite;
	/* Opera */
}

@keyframes jackpots {
	0%,
	100% {
		text-shadow: 
			-.1vw 0vw .1vw #FED128, -.15vw 0vw .2vw #FED128, -.2vw 0vw .2vw #FED128, 
			-.1vw 0vw 3vw #F0130B, -.2vw 0vw 3vw #F0130B, -.4vw 0vw 3vw #F0130B,
			-.1vw 0vw 5vw #F0130B, -.2vw 0vw 5vw #F0130B, -.4vw 0vw .8vw #F0130B, .2vw 0vw 10vw #F0130B;
		color: #FED128;
	}
	50% {
		text-shadow: 
			-.1vw 0vw .1vw #705C12, -.15vw 0vw .2vw #705C12, -.2vw 0vw .2vw #705C12, 
			-.1vw 0vw .1vw #5C0704, -.2vw 0vw .1vw #5C0704, -.4vw 0vw .1vw #5C0704,
			-.1vw 0vw .2vw #5C0704, -.2vw 0vw .2vw #5C0704, -.4vw 0vw .2vw #5C0704, .2vw 0vw .5vw #5C0704;
		color: #705C12;
	}
}
/*footer*/
img#delorian {
	height: 107px;
	width: 368px;
	margin-top: 130px;
	margin-left: 525px;
	position: relative;
}
